.differentials {
  padding: 60px 0;
  background: linear-gradient(135deg, #ffffff 0%, #e8f5e9 100%);
}

.differentials__title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 42px;
  letter-spacing: 2px;
  font-weight: 700;
  color: #4a235a;
}

.differentials__title::after {
  content: "";
  width: 60px;
  height: 4px;
  background: var(--primary-color);
  display: block;
  margin: 12px auto 0;
  border-radius: 2px;
}

.differentials__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.differentials__item {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  background: #f4fbf6;
  padding: 18px 20px;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.differentials__item-description {
  text-align: justify;
  font-size: 14px;
  color: #666;
  margin-top: 6px;
  line-height: 1.6;
}

.differentials__item:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.differentials__item i {
  color: var(--primary-color);
  font-size: 16px;
  transition: 0.3s;
}

.differentials__item:hover i {
  transform: scale(1.2);
}

.differentials__item h3 {
  font-size: 18px;
  font-weight: 700;
  color: #4a235a; /* possivelmente mudar essa cor */
}
